## extensions
*.*
LICENSE
!*.js
!*.json
!*.ts
!*.tsx

## same as in .gitignore
# dependencies
node_modules
.pnp
.pnp.js

# next.js
/.next/
/.vercel/
/out/
tsconfig.tsbuildinfo

# production
/build

# misc
.~lock.*
.DS_Store
.env
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
