# dependencies
node_modules
.pnp
.pnp.js

# next.js
/.next/
/.vercel/
/out/
tsconfig.tsbuildinfo

# production
/build

# misc
.~lock.*
.DS_Store
.env
.env.local
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
